@use "variables.scss" as v;

.contato{
    padding-top: 100px;

    h2{
        font-family: v.$title-font;
        font-weight: 700;
        font-size: 2rem;
        text-align: center;
        margin-bottom: 50px;
    }

    .contato-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin-bottom: 50px;

        i{
            font-size: 3rem;
            color: v.$primary-color;
        }

        p{
            font-size: 1.5rem;
        }
    }

    form{
        background-color: v.$secondary-color;
        padding: 75px 0;

        h3{
            font-family: v.$title-font;
            font-weight: 700;
            font-size: 1.25rem;
            text-align: center;
            margin-bottom: 25px;
            color: v.$primary-color;
        }

        .form-control{
            border: 3px solid v.$primary-color;
            background-color: v.$secondary-color;
            color: #fff;

            &::placeholder{
                color: v.$primary-color;
            }

            &:focus{
                box-shadow: 0px 0px 5px 1px v.$primary-color;
            }
        }

        .btn-primary{
            background-color: v.$primary-color;
            border-color: v.$primary-color;
            font-weight: 700;
            text-transform: uppercase;

            &:active{
                background-color: darken(v.$primary-color, 5%);
                border-color: v.$primary-color;
            }
        }
    }
}