@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Roboto+Slab:wght@400;700&display=swap');

$primary-color: #00ff2a;
$secondary-color: #232323;

$text-font: 'Roboto Slab', serif;
$title-font: 'Bruno Ace', cursive;