@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Roboto+Slab:wght@400;700&display=swap");
p {
  font-family: "Roboto Slab", serif;
  margin: 0;
}

.info-topo {
  background-color: #232323;
  color: #fff;
  padding: 15px;
}
.info-topo i {
  color: #00ff2a;
  font-size: 30px;
}
.info-topo .horario {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 25px;
}
.info-topo .endereco {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.info-topo .whatsapp {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 15px;
}

@media screen and (min-width: 992px) {
  .info-topo .horario {
    margin-bottom: 0;
  }
  .info-topo .whatsapp {
    justify-content: center;
  }
}
.navbar {
  background-color: #232323 !important;
  border-top: 1px solid #00ff2a;
  border-bottom: 3px solid #00ff2a;
  padding: 25px;
}
.navbar .navbar-brand img {
  width: 75px;
}
.navbar .navbar-toggler {
  border: 3px solid #00ff2a;
  width: 50px;
  height: 50px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.navbar .navbar-toggler span {
  display: block;
  background-color: #00ff2a;
  height: 3px;
  width: 50%;
}
.navbar .nav-link {
  color: #fff;
  text-align: center;
  font-family: "Bruno Ace", cursive;
  font-size: 1rem;
}
.navbar .nav-link.active {
  color: #00ff2a;
}

@media screen and (min-width: 992px) {
  .navbar .navbar-toggler {
    display: none;
  }
  .navbar .nav-link {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 1.25rem;
    transition: transform 0.5s, color 0.5s;
  }
  .navbar .nav-link:hover {
    color: #00ff2a;
    transform: translateY(-10px);
  }
}
header {
  position: relative;
}
header .background {
  width: 100%;
  min-height: 300px;
  max-height: 700px;
}
header .conteudo {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 25px;
}
header .conteudo img {
  width: 100px;
}
header .conteudo .conteudo-texto {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  max-width: 600px;
}

@media screen and (min-width: 992px) {
  header .conteudo img {
    width: 200px;
  }
  header .conteudo .conteudo-texto {
    font-size: 2rem;
  }
}
.hero {
  background-color: #00ff2a;
  padding: 50px 0;
  font-size: 1.25rem;
}
.hero p {
  margin: 15px 0;
}

.atividades {
  padding: 75px 0;
}
.atividades h2 {
  font-family: "Bruno Ace", cursive;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 50px;
}
.atividades .atividade-item {
  position: relative;
}
.atividades .atividade-item img {
  width: 100%;
  border-radius: 15px;
}
.atividades .atividade-item p {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 255, 42, 0.75);
  text-align: center;
  font-size: 1.5rem;
  font-family: "Bruno Ace", cursive;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.faq {
  padding: 75px 0;
  background-color: #232323;
}
.faq h2 {
  font-family: "Bruno Ace", cursive;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 50px;
  color: #00ff2a;
}
.faq .accordion .accordion-item {
  border: 1px solid #00ff2a;
  background-color: #232323;
}
.faq .accordion .accordion-item .accordion-button {
  color: #00ff2a;
  background-color: #232323;
}
.faq .accordion .accordion-item .accordion-button:focus {
  border-color: #00ff2a;
  box-shadow: none;
}
.faq .accordion .accordion-item .accordion-button::after {
  border-radius: 5px;
  background-color: #00ff2a;
}
.faq .accordion .accordion-item .accordion-body {
  color: #fff;
}

.contato {
  padding-top: 75px;
}
.contato h2 {
  font-family: "Bruno Ace", cursive;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 50px;
}
.contato .contato-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 50px;
}
.contato .contato-item i {
  font-size: 3rem;
  color: #00ff2a;
}
.contato .contato-item p {
  font-size: 1.5rem;
}
.contato form {
  background-color: #232323;
  padding: 75px 0;
}
.contato form h3 {
  font-family: "Bruno Ace", cursive;
  font-weight: 700;
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 25px;
  color: #00ff2a;
}
.contato form .form-control {
  border: 3px solid #00ff2a;
  background-color: #232323;
  color: #fff;
}
.contato form .form-control::placeholder {
  color: #00ff2a;
}
.contato form .form-control:focus {
  box-shadow: 0px 0px 5px 1px #00ff2a;
}
.contato form .btn-primary {
  background-color: #00ff2a;
  border-color: #00ff2a;
  font-weight: 700;
  text-transform: uppercase;
}
.contato form .btn-primary:active {
  background-color: #00e626;
  border-color: #00ff2a;
}

footer {
  border-top: 3px solid #00ff2a;
  background-color: #232323;
  color: #fff;
  text-align: center;
  padding: 25px;
}
footer .copy {
  font-size: 1.25rem;
}
footer .copy span {
  font-weight: 700;
}
footer .dev a {
  color: #fff;
  text-decoration: none;
  width: 100%;
  display: block;
  padding: 5px;
  font-size: 0.9rem;
}
footer .dev a span {
  font-weight: 700;
}
footer .dev a:hover span {
  color: #00ff2a;
}

/*# sourceMappingURL=style.css.map */
